html, body{
  height: 100%;
  width: 100%;
  overflow: hidden;
}
#main{
  height: 100%;
  width: 100%;
  overflow: hidden;
}

#floatingTitle{
  position: absolute;
  width: 250px;
  height: 150px;
  top: 0px;
  left:0px;
  background-color: white;
  border-radius: 7px;
  z-index: 52;
  margin-bottom: 25px;
  padding-bottom:25px;
  text-align: left;
  padding-left: 10px;
}
#map{
  height: 100%;
  width: 95%;
  z-index: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  max-width: calc(100% - 80px);
}
#searchBar{
  height: 30px;
  width: 200px;
  font-style: italic;
  margin:0px;
  display: inline;
}
#searchButton{
  height: 20px;
  width: 30px;
  z-index: 30;
  margin:0px;
  display:inline;
  padding: 0px;
}

#loading{
  background-color: #3f7e8a;
  width: 100%;
  z-index: 100000;
  top: 70px;
  left:0px;
  position: absolute;
  text-align: center;
  vertical-align: middle;
  padding: 10px;
}
#timeline{
  height: 100%;
  width: 5%;
  position: absolute;
  bottom:0px;
  right:0px;
  z-index:50;
  min-width: 100px;
}
.nav-item{
  z-index: 51;
  height: 25%;
  width: 100px;
  padding-top: 40%;
  padding-bottom: 40%;
  text-align: center;
}
#nav-list{
  height: calc(100% - 150px);
  position: absolute;
  top: 150px;
  left:0px;
}
.nav-text{
}
.nav-hover{
  background-color: lightgray;
  cursor:pointer;
}
.panel{
  background-color: steelblue;
}

.axis {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: black;
  shape-rendering: crispEdges;
}

.panel{
  height: calc(100% - 150px);
  position: absolute;
  top: 150px;
  left:100px;
  display: none;
  z-index: 30;
  width: 300px;
  border-radius: 7px;
}

#niche-viewer-panel{
  background-color: red;
}
#site-panel{
  background-color: white;
  overflow-y: auto;
}
#taxonomy-panel{
  background-color: white;
  overflow-y: auto;
}
#map-props-panel{
  background-color: forestgreen;
}
.left{
  text-align:left;
}
.right{
  text-align: right;
}

table{
  width: 100%;
}
tr:nth-child(even) {
  background-color: #f2f2f2;
  width: 33%;
}

th {
    background-color:  #3f7e8a;
    color: white;
}

.tooltip{
  z-index:100000;
}
