html, body{
  height: 100%;
  width: 100%;
  overflow: hidden;
}

#map{
  height: 100%;
  width:100%;
  padding: 0px!important;
  margin: 0px!important;
}

.ui-layout-east{
    padding-top: 25px;
}
.ui-layout-west{
  padding: 0px;
  padding-top: 25px;
}
.ui-layout-center {
  padding:	0; /* IMPORTANT - remove padding so pane can 'collapse' to 0-width */
}
.ui-layout-pane			{
  border-width:			0;
}
.ui-layout-south		{
  border-top-width:		1px;
  overflow: hidden;
}

.ui-layout-resizer{
  background-color: white!important;
}
.ui-layout-toggler{
  background-color: rgba(0, 81, 81, 0.25)!important;
}
.ui-layout-resizer-south {
  border-width:			0 1px;
  height: 25px!important;
  z-index: 1000000!important;
}

.ui-layout-toggler-south{
  height: 100%!important;
}


.ui-layout-resizer-west {
  border-width:			0 1px;
  width:25px!important;
}

.ui-layout-toggler-west{
border-width:			0 1px;
width:100%!important;
}

.ui-layout-resizer-east {
  border-width:			0 1px;
  width:25px!important;
}

.ui-layout-toggler-east{
border-width:			0 1px;
width:100%!important;
}


nav{
z-index: 100000;
}


.iam-header{
display: inline;
padding: 0px;
color: white;
}

.container-fluid{
  background-color: black;
  padding: 5px;
}


#searchButtonRow{
  margin-top: 5%;
}
#otherResourcesRow{
  margin-top: 10%;
}

#addDataButton{
  margin-left: 10%;
}

#headerRow{
  display: inline;
}
#dropdown-menu{
  padding-top: 0px;
  padding-bottom: 0px;
}

.verticalLine-left {
border-left: thin solid black ;
}

.navbar{
margin-bottom: 0px;
}

#main {
  position: relative;
  height:		100%;
  width:		100%;
}

.cover{
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  opacity: 50%;
  z-index: 1999;
  visibility: hidden;
}

.cover-full{
    background-color:rgba(0, 175, 195, 1);
}

.cover-half{
    background-color:rgba(0, 175, 195, 0.5);
}

#analyticsContainer{
  overflow-y:auto;
  width:100%;
  overflow-x: hidden;
}

.dc-chart{
  height: 20%;
  margin-bottom: 10px;
}

#temp-container{
  height: 100%;
  width: 100%;
}



body { font: 12px Arial;}

path {
    stroke: steelblue;
    stroke-width: 2;
    /*fill: none;*/
}

.axis path,
.axis line {
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;
}
h5{
  margin-top: 1%;
}


.dc-chart .selected circle{
  stroke-width: 0;
  stroke: none;
}
.dc-chart .deselected circle{
  stroke-width: 0.5;
  stroke: gray;
  stroke-opacity: 0.5;
  fill: none;
  radius: 1
}



/*.analytics-chart{
  padding-bottom: 10%;
}

#alt-lat-Chart{
  margin-bottom: 5%!important;
}*/


.dashboard-row{
  padding: 0px;
}

#ageChart{
  padding-left: 10px;
}

#tempContainer{
  height: 100%;
  width: 100%;
}

.ui-layout-south{
    max-height: 100%;
}

.anatyics-header{
  margin-top: 0px;
}
.analytics-chart{
  min-height: 200px;
}

.alt-lat-Chart{
  min-height: 300px;
}

.summary-header{
  margin-bottom: 5px;
}

.toggleButton{
  width: 100% !important;
  color: white;
  background-color: transparent!important;
}

tr:nth-child(even) {background-color: #f2f2f2}

tr:hover {background-color: #00b3b3}

#pi-table{
  margin-top: 5%;
  margin-bottom: 5%;
}

#data-table-holder{
  top: 15%;
  position: absolute;
  left: 25px!important;
  z-index: 1000000000000;
}

.right{
  float: right;
}

.rotate{
  -ms-transform: rotate(90deg)!important; /* IE 9 */
  -webkit-transform: rotate(90deg)!important; /* Chrome, Safari, Opera */
  transform: rotate(90deg)!important;
}

.rotate-neg{
  -ms-transform: rotate(-90deg)!important; /* IE 9 */
  -webkit-transform: rotate(-90deg)!important; /* Chrome, Safari, Opera */
  transform: rotate(-90deg)!important;
}


.toggleButtonClose{
  color: black;
}
