<style>

#map{
  height: 100%;
  width:100%;
  padding: 0px;
}

.ui-layout-west{
  padding: 0px;
}
.ui-layout-pane {
background:	#EEE;
}
.ui-layout-west {
background:	#CFC;
}
.ui-layout-center {
background:	#FFC;
padding:	0; /* IMPORTANT - remove padding so pane can 'collapse' to 0-width */
}
.ui-layout-center > .wrapper {
  padding:	10px;
}
.ui-layout-pane			{ border-width:			0; }
.ui-layout-north		{ border-bottom-width:	1px; }
.ui-layout-south		{ border-top-width:		1px; }
.ui-layout-resizer-west { border-width:			0 1px; }
.ui-layout-toggler-west { border-width:			0; }
.ui-layout-toggler-west div {
width:	8px;
height:	35px; /* 3x 35 = 105 total height */
}
.ui-layout-toggler-west .btnCenter	{ background: #00C; }
.ui-layout-toggler-west .btnWest	{ background: #090; }
.ui-layout-toggler-west .btnBoth	{ background: #C00; }

body, html, .ui-layout-south{
overflow: hidden;
}


nav{
z-index: 100000;
}


.iam-header{
display: inline;
padding: 0px;
color: white;
}

.container-fluid{
background-color: black;
padding: 5px;
}
.navbar{
min-height: 0px!important;
}

#bottom-chart{
height:100%;
width:100%;
}

#bottom-chart>svg{
height:100%;
width: 100%;
}


#addData{
color: cyan!important;
}

.modal{
z-index: 120012010201;
}

#niche-viewer{
position:absolute;
top: 15%;
}

</style>
