html, body{
  height: 100%;
  width: 100%;
  overflow: hidden;
}

#map{
  height: 100%;
  width:100%;
  padding: 0px;
}

.ui-layout-east{
    padding-top: 25px;
}
.ui-layout-west{
  padding: 0px;
  padding-top: 25px;
}
.ui-layout-center {
  padding:	0; /* IMPORTANT - remove padding so pane can 'collapse' to 0-width */
}
.ui-layout-pane			{
  border-width:			0;
}
.ui-layout-south		{
  border-top-width:		1px;
}

.ui-layout-toggler-south {
  display: none;
}
.ui-layout-resizer-west {
  border-width:			0 1px;
}
.ui-layout-toggler-west {
  border-width:			0;
}
.ui-layout-toggler-west div {
  width:	8px;
  height:	35px; /* 3x 35 = 105 total height */
}

nav{
z-index: 100000;
}


.iam-header{
display: inline;
padding: 0px;
color: white;
}

.container-fluid{
  background-color: black;
  padding: 5px;
}


#searchButtonRow{
  margin-top: 5%;
}
#otherResourcesRow{
  margin-top: 10%;
}

#addDataButton{
  margin-left: 10%;
}

#headerRow{
  display: inline;
}
#dropdown-menu{
  padding-top: 0px;
  padding-bottom: 0px;
}

.verticalLine-left {
border-left: thin solid black ;
}

.navbar{
margin-bottom: 0px;
}

#main {
  position: relative;
  height:		100%;
  width:		100%;
}

.cover{
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  opacity: 50%;
  z-index: 1999;
}

.cover-full{
    background-color:rgba(0, 175, 195, 1);
}

.cover-half{
    background-color:rgba(0, 175, 195, 0.5);
}

#analyticsContainer{
  overflow-y:auto;
}

.dc-chart{
  height: 33%;
  background-color: cyan;
  border: thin solid red;
  margin-bottom: 10px;
}
