html, body{
  height: 100%;
  overflow: hidden;
}

#map{
  height: 90%;
  background-color: 'none';
  padding: 0px;
  margin: 0px;
}

.axis {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

#timeline{
  bottom: 0px;
  position: absolute;
  background-color: white;
}
.draggable{
  cursor: ew-resize;
}

.loading{
  z-index: 1000;
  background-color: red;
}
#loading{
  background-color: steelblue;
  position: absolute;
  top: 10%;
  left:0;
  text-align: center;
  vertical-align: center;
  height: 100%;
  width: 100%;
  z-index: 10000;
}
